body {
  background-color: $black;
  color: $white;
  .bg-img {
    background-image: url("https://lh4.googleusercontent.com/Vnt6WSA7uxCLazrLEi72kJynfSQcPLvS-kFCfUVs6YFD7v0WoYnDHTyVNYYXVt1p4-b24vgTL92kwZlybPr2VxjtQl_-bBFLWkNyJdp1_7KU0FfhFm0ft_cAGJE_IaEj5xciADx2");
    background-size: cover;
    background-repeat: no-repeat;
    .home-heading {
      border: solid 1px $white;
      border-radius: 50%;
      padding: 25px;
      background-color: $red;
      h1 {
        font-size: 15vw;
        color: $white;
      }
    }
  }
  .pad-top {
    padding-top: 15vh;
  }
  .resize {
    height: 75vh;

  }
  h2 {
    text-align: center;
  }
}
